stages:
  - build
  - release

# -------- BUILD JOB ----------
build_job:
  stage: build
  tags : ["build"]
  image: node:20
  script:
    - npm ci
    - npm run build
  only:
    - branches
  artifacts:
    when: always
    paths:
      - dist/
      - .next/
      - build/
    expire_in: 1 week

# -------- RELEASE JOB ----------
release_job:
  stage: release
  tags : ["release"]
  image: node:20
  script:
    - npm ci
    - npx semantic-release --extends ./.releaserc.gitlab.json
  only:
    - main
  variables:
    GITLAB_TOKEN: "${GITLAB_TOKEN}"  # ou ton deploy token
    GIT_AUTHOR_NAME: "Bot Klickbee"
    GIT_AUTHOR_EMAIL: "bot@klickbee.com"